
body {
    background-image: url("5926624.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    div.container {
      text-align: center;
    }
    
   

}
  